@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');


@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

.page-loading-progress {
  animation: progress 1s infinite linear;
}

.left-right {
  transform-origin: 0% 50%;
}

/* Basic Styles */
.navbar {
  padding: 1rem;
}

.nav-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding-bottom: 4px;
  transition: color 0.3s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #E7E7E7; /*Customize underline color */
  transition: width 0.3s ease;
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}

.nav-link:hover {
  color: #E7E7E7; /* Optional: Change text color on hover */
  font-weight:600;

}


@keyframes progress {
  0% {
    transform: translateX(0) scaleX(0);
  }
  40% {
    transform: translateX(0) scaleX(0.4);
  }
  100% {
    transform: translateX(100%) scaleX(0.5);
  }
}



